body{
	margin:0;
	padding:0;

	
}

.box{
	height:80px;
	width:100px;
	background:url(".jpg") ;
	background-size:cover;
	background-repeat:norepeat;

}


h3{
	position:absolute;
	margin-top:20px;
	transform:tranlateY(-50%);
	
	padding:0;
	text-align:center;
	
	color:gray;

	text-shadow:0 5px 10px rgba(0,0,0,1);
	mix-blend-mode:overlay;
	box-shadow:0 5px 10px rgba(0,0,0,1);
	background:rgba(0,0,0,.4);

}